@model IEnumerable<QLyBanVeBusCtyHaLan.Models.VeThang>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Vé tháng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>Tìm kiếm vé tháng:</div>
<input type="text" name="txtvethang" />
<input type="submit" name="btnTim" value="Find" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.tenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiVe.maloai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuyenXe.tentuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotrinh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.tenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVe.maloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuyenXe.tentuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lotrinh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maVe }) |
                @Html.ActionLink("Details", "Details", new { id = item.maVe }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maVe })
            </td>
        </tr>
    }

</table>
